<div class="chart-wrapper">
    <!-- Descripció -->
    <div class="chart-description">

      <p>
        Aquest conjunt de dades conté informació sobre <strong>125000 cançons de Spotify</strong> distribuïdes homogeniament en 125 gèneres musicals diferents. 
        Cada cançó inclou diverses característiques musicals que ens permeten analitzar les seves propietats.
      </p>
      <p>
        Les dades utilitzades inclouen informació com el <strong>nom de la cançó</strong>, els <strong>artistes</strong>, el <strong>gènere musical</strong>, 
        i altres mesures com la <em>popularitat</em>, la <em>danceabilitat</em>, l'<em>energia</em>, i la <em>positivitat emocional</em>. 
        A més, hem completat la informació amb dades sobre la <strong>popularitat dels artistes</strong> obtingudes a través de la <strong>API de Spotify</strong>.
      </p>
    </div>
  
    <!-- Gràfica -->
    <div #chart class="chart-container"></div>
  </div>
  